<%- include("header", {title: title}); %>

<h1>Delete account</h1>

<p>This is details for account <%= account %>.</p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<% res = res[0] %>
<form class="label-left" method="post" action="/bank/delete">
    <fieldset>
        <legend>Delete account</legend>

        <label for="id">Id</label>
        <input id="id" type="text" name="id" readonly value="<%= res.id %>">

        <label for="name">Name</label>
        <input id="name" type="text" name="name" readonly value="<%= res.name %>">

        <label for="balance">Balance</label>
        <input id="balance" type="number" name="balance" readonly value="<%= res.balance %>">

        <input type="submit" name="doit" value="Delete account">
    </fieldset>
</form>

<%- include("footer"); %>
